torch 
torchvision
torchaudio
torchio
monai
opencv-python
pillow
scikit-image
numpy 
pandas
seaborn
matplotlib
nilearn
nibabel
scikit-learn
albumentations
jupyter
tqdm
torchsummary
timm
SimpleITK
einops
batchgenerators
hydra-core